/*--------------------------company---------------------------*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;
scroll-padding-top: 2rem;
list-style: none;
text-decoration: none;
}
body {
   overflow-x: hidden;
   -ms-overflow-style: scrollbar;
   overflow-y: scroll;
   font-size: 15px;
   color: hsla(212, 49%, 29%, 0.87);
   font-family: Arial,Helvetica,sans-serif;
 }
/* -----------------navbar------------------ */
.nav{
   width: 100%;
   display: flex;
   justify-content: space-between;
   font-weight: lighter;
   padding: 20px;
   position: fixed;
   background-color: rgba(14, 9, 9, 0.658);
  }
  .links {
   font-size: 15px;
   font-weight: 600;
   display: flex;
   width: 90%;
   color: white;
  }
  .bar{
     display: none;
  }
  #navbar{
    color: white;
   font-weight: 600;
   width: 100%;
   display: flex;
   justify-content: space-between;
  }
  
  #navbar a{
   color: white;   
    padding: 0px 20px;
   font-size: 15px;
   font-weight: 600;
   justify-content: space-between;
  }
  #navbar a:hover ,#navbar a.active{
   color: rgba(241, 13, 13, 0.856);
   font-weight: 600;
   justify-content: space-between;
  }
  #searchbox {
   left: 0px;
   margin-top: -80px; 
     background-color: white;
     border-radius: 2rem;
     display: flex;
     position: fixed;
     flex-wrap: wrap;
     width: 100%;
     align-self: center;
     transition: .6s all ease-in;
     padding: 10px;
     justify-content: space-between;
   }
   .close{
     font-size: 30px;
     padding: 6px 30px;
     cursor: pointer;
     color: black;
   float: right;
   }
    #searchbox input{
      margin: 10px;
      min-width: 70%;
      font-weight: 500;
   color: black;
      padding: 5px 20px;
      border: none;
      font-size: 15px;
      justify-content: space-around;
      outline: none;
    }
   /* -------------menu------- */
   .h3{
      color: rgb(77, 200, 184);
      font-size: 28px;
      font-weight: bolder;
      text-align: center;
   }
/*---------------------home----------*/
.home{
display: grid;
width: 100%;
margin: 0px;padding: 0px;
background-color: black;
color: white;
}
.content .box2{
   padding: 90px 9px;
}
.about .box2{
   padding: 90px 9px;
}
.hype{
   height: 100%;
   width: 100%;
   border-radius: 50%;
   color: white;
   }
.experience{
padding: 10px;
margin-left: 0px;
 background: rgba(3, 5, 5, 0.5);
}
.box2 {
   align-items: center;
   padding: 10px;
   width: 100%;
   }
 .box1{
    align-items: center;
    background-image: url(image/ecom.webp);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100%;
 }
    .section {
      background: rgb(0, 0, 0); /* Fallback color */
      background: #07070780; /* Black background with 0.5 opacity */
       color: white;
       height: 100%;
      width: 100%;
      padding: 20px;
      padding-top: 10%;
    }
.left{
width: 100%;
padding: 10px;
justify-content: space-between;
display: flex;
transition: all 0.8s;
}
/* ------------------contact----------------- */
.contact{
   width: 100%;
   background-color: rgb(8, 19, 19);
   justify-content: center;
  }
 .contact1{
   color: #a813ad;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  }
  .name{
   /* background: linear-gradient(to right bottom,
   rgba(255, 255, 255, 0.918),#ffffff49);
    box-shadow: 0px 10px 20px 0px rgba(230, 220, 220, 0.2);
  */ width: 100%;
   padding: 20px;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;  
    }
 .circle{
   background: linear-gradient(to right bottom,
   rgba(255, 255 ,255, 0.7),rgba(255, 255, 255, 0.788));
    box-shadow: 0px 8px 40px 0px rgba(233, 219, 219, 0.2);
height: 100px;
width: 100px;
margin: -50px;
border-radius: 50%;  
   }
  .icons{
     display: flex;
  }
  .icon{
   background-color: rgb(16, 156, 137);
   padding: 5px;
   border-radius: 50%;
   color: white;
   display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 flex-shrink: 0;
 margin: 5px;
    font-size: 1.2rem;
    text-align: center;
   }
  .name{
    width: 100%;
  }
  .submit{
    width: 100%;
  }
  .send{
   background-color: white;
   color: rgb(14, 13, 12);
   width: 100%;
   padding: 20px;
   margin: 30px;
  }
  .send h1{
     padding: 20px;
   font-size: 20px;
   color: rgb(38, 170, 170);
  }
  .send .input{
   color: rgb(38, 170, 170);
   width: 100%;
   border-bottom: none;
   border-right: none;
border-left: none;
   background-color: whitesmoke;
   border-top: 1px solid rgb(224, 221, 221);
   font-size: 16px;
   height: 30px;
   outline: none;
 }
 .input1{
   color: rgb(38, 170, 170);
  outline: none;
  width: 100%;
  border: none;
  background-color: whitesmoke;
  border-top: 1px solid rgb(224, 221, 221);
  font-size: 16px;
  height: 100px;
 }
.headings{
padding: 20px;
font-size: 20px;
color: rgb(168, 29, 87);
text-align: center;
}
.l{
   -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   border-radius: 50%;
 padding: 5px;
   width: 120px;
   font-weight: 600;
  text-align: center;
   border: 3px solid white;
}
.h1{
   color: rgb(41, 178, 212);
   text-align: center;
}
.h{
   color: tomato;
}

span{
   color: rgb(38, 255, 9);
}
.see{
font-size: 2.5rem;
color: rgb(226, 72, 218);
padding: 10px;
font-size: 19px;
}
.btn{
   border-radius: 0.4rem;
   width: 100px;
   padding: 4px;
   color: white;
   font-weight: bolder;
   border: 1px solid pink;
   }
.btn:hover{
border-radius: 0.4rem;
background-color: rgb(37, 46, 44);
color: rgb(58, 21, 14);
}
.btn1{  
   cursor: pointer;
border-radius: 0.4rem;
padding: 4px 10px;
font-size: 17px;
font-weight: bolder;
border: 1px solid rgb(112, 55, 65);
box-shadow: 0px 17px 16px 0px rgba(65, 44, 31, 0.2);

}
.btn1:hover{
box-shadow: 0px 8px 16px 0px rgba(34, 19, 247, 0.2);
background-color: rgb(37, 206, 228);
transition: 0.4s all ease-in-out;
border-radius: 0.4rem;
color: rgb(131, 24, 24);
}
/* ---------------------footer------------------------------------- */
.footer{
color: white;
width: 100%;
display: grid;
background: rgb(0, 0, 0); /* Fallback color */
background: #070707; /* Black background with 0.5 opacity */
}
.fo{
text-align: center;
padding: 10px;
}
.footer1{
justify-content: space-between;
display: flex;
padding: 30px;
color: white;
box-shadow: 0px 8px 16px 0px rgb(235, 232, 234);
}
.pro{
width: 100%;
}
.in{
border: none;
color: blue;
background-color: black;
outline: none;
text-align: center;
}
.img{
   width: 90%;
}
.sam1{
width: 100px;
height: 100px;
border-radius: 50%;
}
.h{
   font-size: 20px;
   padding-left: 30px;
   color: red;
   text-align: center;
}
.h2{
font-size: 17px;
color: rgb(168, 29, 87);

}
.follow-me{
border-radius: 20px;
display: flex;
}
.follow {
margin: 10px;
color: whitesmoke;
padding: 4px;
display: flex;
}
.follow a{
color: whitesmoke;
border-radius: 15px;
box-shadow: 0px 5px 3px 0px rgb(9, 5, 240);
}
.follow a:hover{
color: rgb(245, 181, 7);
}
/*-----------end@media-------------- */
@media (max-width: 960px) {
   .nav{
      display: flex;
      top: 0;left: 0;
      position: fixed;
      color: white;
      background-color: rgb(16, 129, 114);
      min-width: 100%;
    }
     #navbar {
      background-color: rgb(16, 129, 114);
      padding: 0px 40px;
      font-size: 15px;
      font-weight: 600;
      display: block;
      left: -100%;
      min-width: 100%;
      margin-top: 10%;
      min-height: 100%;
      position: absolute;
      overflow-y: hidden;
    }
    #navbar a{
      padding: 10px;
      text-align: center;
     color: white;
 margin: 10px;
 display: block;
 border-radius: 0.5rem;
 width: 90%;
 background-color: rgb(36, 13, 13);
    } #navbar.active{
     left: 0px;
     transition: .7s all;
   }
     .bar{
      padding: 10px;
      cursor: pointer;
      color: white important!;   
      font-weight: 600;
      font-size: 20px;
      display: block;
    }
    .section {
       padding-top: 20%;
    }
    .home{
       margin: 0px;padding: 0px;
    }
   .left{
   display: grid;
   padding: 0px;
}

.img{
width: 100%;
padding: 20px;
}
.send{
   margin: 0px;
}
.see{
   font-size: 20px;
}
.content .box2{
   padding: 30px 9px;
}
.about .box2{
   padding: 30px 9px;
}
.container{
   margin: 0;
   /* background-image: url(image/music1.jpeg); */
   width: 100%;
   background-image: url(image/music2.jpeg);
   background-repeat: no-repeat;
background-origin: content-box;
   background-position: center;
   }
.experience{
  width: 100%;
  color: #121d1d;
 background: rgb(243, 240, 240);
 }
 .container1{
height: 100%;
}
 
 .hype{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: white;
  padding: 15px 10px;
margin: 20px;  
}
   /* ------------------contact----------------- */
   .name{
      display: block;
      
   }
.contact1{
   display: grid;
   margin: auto;
   width: 100%;
   align-items: center;
   text-align: center;
   }
   .contact{
    display: grid;
    color: rgb(112, 22, 22);
    margin: auto;
    }
/* -----------------footer----------- */
.footer1{
width: 100%;
display: grid;
color: white;
}

}
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
       padding-top: 60px;
      
      }
      
      /* Modal Content/Box */
      .modal-content {
       background: linear-gradient(to right top,
       #65dfc9,#6cdbeb);
         margin: 5px auto; /* 15% from the top and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button */
      .close {
      /* Position it in the top right corner outside of the modal */
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
      }
     /* Add Zoom Animation */
      .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
      }
      
      @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)}
      to {-webkit-transform: scale(1)}
      }
      
      @keyframes animatezoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
      }
     
      .row {
       display: -ms-flexbox; /* IE10 */
       display: flex;
       -ms-flex-wrap: wrap; /* IE10 */
       flex-wrap: wrap;
       margin: 0 -16px;
     }
     
     .col-25 {
       -ms-flex: 25%; /* IE10 */
       flex: 25%;
     }
     
     .col-50 {
       -ms-flex: 50%; /* IE10 */
       flex: 50%;
     }
     
     .col-75 {
       -ms-flex: 75%; /* IE10 */
       flex: 75%;
     }
     
     .col-25,
     .col-50,
     .col-75 {
       padding: 0 16px;
     }
     .contain {
      padding: 5px 20px 15px 20px;
       border: 1px solid lightgrey;
       border-radius: 3px;
     }
     input[type=text] {
       width: 100%;
       margin-bottom: 20px;
       padding: 12px;
       border: 1px solid #ccc;
       border-radius: 3px;
     }
     label {
       margin-bottom: 10px;
       display: block;
     }
     .icon-container {
       margin-bottom: 20px;
       padding: 7px 0;
       font-size: 24px;
     }
   span.price {
       float: right;
       color: grey;
     }
     
     /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
     @media (max-width: 800px) {
       .row {
         flex-direction: column-reverse;
       }
       .col-25 {
         margin-bottom: 20px;
       }
     }